 /* ==== Setup fonts ==== */
 @font-face {
     font-family: 'Droid Serif';
     src: url('/assets/fonts/DroidSerif-Regular.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Droid Serif';
     src: url('/assets/fonts/DroidSerif-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/assets/fonts/Roboto-Light.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
 }

 body {
     font-family: 'Roboto', sans-serif;
     /* == default font == */
 }

 .no-scroll {
     overflow: hidden !important;
     overscroll-behavior: contain;
     position: relative !important;
     padding-left: 0;
     padding-top: 0;
     padding-right: 0;
     margin-left: 0;
     margin-top: 0;
     margin-right: 7px !important;
 }

 #bannerText {
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     line-height: 1.2;
 }

 #bannerText .char {
     transform: translateY(120px);
     transition: transform .5s;

 }